<nav class="navbar">

  <ul class="nav nav-pills">
    <li> <img width="60" alt="immo Logo" src="https://i.ibb.co/SyHb8VN/insurance.png"></li>
    <li style="padding-left: 50px" role="presentation"><a [routerLink]="['/home']" routerLinkActive="btn-danger"><p class="texte">Accueil</p></a> </li>
    <li role="presentation"><a [routerLink]="['/ajout']" routerLinkActive="btn-danger"> <p class="texte">A louer</p> </a></li>
    <li role="presentation"><a [routerLink]="['/delete']" routerLinkActive="btn-danger"> <p class="texte">A vendre</p> </a></li>
    <li role="presentation"><a [routerLink]="['/modif']" routerLinkActive="btn-danger"> <p class="texte">Locaux commerciaux</p> </a></li>


            <li role="presentation"><a [routerLink]="['/accBienImmo']" routerLinkActive="btn-danger"><p class="texte">Liste biens immo</a></li>


    <li style="padding-left: 600px" role="presentaion"><a [routerLink]="['/modif']" routerLinkActive="btn-danger"> <p class="texte">Mon espace</p> </a></li>

  </ul>
</nav>
