<nav class="navbar navbar-inverse">
  <ul class="nav nav-pills">
<li role="presentaion"><a [routerLink]="['/home']" routerLinkActive="btn-danger">Accueil </a> </li>
<li role="presentaion"><a [routerLink]="['/ajout']" routerLinkActive="btn-danger"> A louer </a></li>
<li role="presentaion"><a [routerLink]="['/delete']" routerLinkActive="btn-danger"> A vendre </a></li>
<li role="presentaion"><a [routerLink]="['/modif']" routerLinkActive="btn-danger"> Locaux commerciaux </a></li>
<li role="presentaion"><a [routerLink]="['/find']" routerLinkActive="btn-danger"></a></li>
<li role="presentaion"><input type="text" class="form-control" placeholder="Rechercher"></li>
<li role="presentaion"><a [routerLink]="['/modif']" routerLinkActive="btn-danger"> Mon espace </a></li>

  </ul>
  
</nav>