<nav class="navbar">

  <ul class="nav nav-pills">
    <li> <img width="60" alt="immo Logo" src="https://i.ibb.co/SyHb8VN/insurance.png"></li>
    <li style="padding-left: 50px" role="presentation"><a [routerLink]="['/home']" routerLinkActive="btn-danger">
        <p class="texte">Accueil</p>
      </a> </li>
    <li role="presentation"><a [routerLink]="['/accLocation']" routerLinkActive="btn-danger">
        <p class="texte">A louer</p>
      </a></li>
    <li role="presentation"><a [routerLink]="['/accAchat']" routerLinkActive="btn-danger">
        <p class="texte">A vendre</p>
      </a></li>
    <li role="presentation"><a [routerLink]="['/modif']" routerLinkActive="btn-danger">
        <p class="texte">Locaux commerciaux</p>
      </a></li>

    <div class="btn-group" dropdown>
      <button dropdownToggle class="dropdown-toggle">
        <p class="texte">
          Biens Immobiliers <span class="caret"></span></p>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/addAchat']" routerLinkActive="btn-success">Ajouter
            un bien pour achat</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/addLocation']" routerLinkActive="btn-success">Ajouter
          un bien pour location</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/updateAchat']" routerLinkActive="btn-success">Modifier
          un bien pour achat</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/updateLocation']" routerLinkActive="btn-success">Modifier un bien pour location</a></li>
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/accBienImmo']"
            routerLinkActive="btn-success">Liste des Biens</a></li>
      </ul>
    </div>


    <div class="btn-group" dropdown>
      <button dropdownToggle class="dropdown-toggle">
        <p class="texte">
          Client <span class="caret"></span></p>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/addClient']"
            routerLinkActive="btn-success">Ajouter</a></li>
        <li role="menuitem"><a class="dropdown-item">Modifier</a></li>
        <li role="menuitem"><a class="dropdown-item">Liste</a></li>
      </ul>
    </div>

    <div class="btn-group" dropdown>
      <button dropdownToggle class="dropdown-toggle">
        <p class="texte">
          Contrat <span class="caret"></span></p>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item">Ajouter</a></li>
        <li role="menuitem"><a class="dropdown-item">Modifier</a></li>
        <li role="menuitem"><a class="dropdown-item">Liste</a></li>
      </ul>
    </div>

    <div class="btn-group" dropdown>
      <button dropdownToggle class="dropdown-toggle">
        <p class="texte">
          Visite <span class="caret"></span></p>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item">Ajouter</a></li>
        <li role="menuitem"><a class="dropdown-item">Modifier</a></li>
        <li role="menuitem"><a class="dropdown-item">Liste</a></li>
      </ul>
    </div>

    <div class="btn-group" dropdown>
        <button dropdownToggle class="dropdown-toggle">
          <p class="texte">
            Propriétaires <span class="caret"></span></p>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item">Ajouter</a></li>
          <li role="menuitem"><a class="dropdown-item">Modifier</a></li>
          <li role="menuitem"><a class="dropdown-item">Liste</a></li>
        </ul>
      </div>

      <div class="btn-group" dropdown>
          <button dropdownToggle class="dropdown-toggle">
            <p class="texte">
              Classe Standard <span class="caret"></span></p>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item">Ajouter</a></li>
            <li role="menuitem"><a class="dropdown-item">Modifier</a></li>
            <li role="menuitem"><a class="dropdown-item">Liste</a></li>
          </ul>
        </div>

    <li role="presentation"><a [routerLink]="['/accConseiller']" routerLinkActive="btn-danger">
        <p class="texte">Mon espace</p>
      </a></li>



  </ul>
</nav>
